body {
  text-align: center;
}
.list-inline li:first-child {
  padding-left: 0;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
main {
  padding: 10px 0;
}
ul {
  padding-left: 1.5em;
}
.full-name,
.profession {
  margin: 0;
  margin-bottom: 4px;
}
.full-name {
  font-size: 36px;
  color: #333;
}
.profession {
  font-size: 18px;
  color: #999;
}
.social-media-icons a {
  color: #999;
  font-size: 18px;
}
.photo {
  text-align: center;
}
.photo img {
  max-width: 180px;
  border: 5px solid #ddd;
  margin: 10px 0;
  border-radius: 50%;
}
.quote h3 {
  margin: 10px 0;
}
.quote p {
  font-size: 18px;
  margin: 10px auto;
}
.contact-info {
  margin: 10px 0;
}
header,
#bio,
#resume,
#portfolio {
  border-bottom: 4px solid #dddddd;
  margin-bottom: 2em;
}
@media screen {
  .experience ul {
    padding: 0;
  }
  .experience ul li {
    list-style: none;
  }
  .logo-job {
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    display: table-cell;
  }
  .logo-job:before {
    background-image: url(/assets/images/redturtle.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    content: '';
    display: block;
    float: left;
    height: 1em;
    list-style: none;
    margin: 0;
    margin-right: 0.2em;
    padding-left: 1em;
    width: 1em;
  }
  .logo-redturtle:before {
    background-image: url(/assets/images/redturtle.png);
  }
  .logo-unife:before {
    background-image: url(/assets/images/unife.png);
  }
  .logo-unibo:before {
    background-image: url(/assets/images/unibo.png);
  }
}
@media screen and (min-width: 768px) {
  .columns2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .header-left h1,
  .header-left h2 {
    display: inline;
  }
  body {
    text-align: left;
  }
  header {
    padding-top: 10px;
  }
  .social-media-icons {
    text-align: right;
    margin-top: 12px;
  }
  .photo {
    text-align: left;
  }
  .quote p {
    margin: 10px 0;
  }
}
@media print {
  body {
    text-align: left;
  }
  header {
    padding-top: 10px;
  }
  .header-left {
    width: 100%;
  }
  .header-left h1,
  .header-left h2 {
    display: inline;
  }
  .header-left h2 {
    float: right;
  }
  .header-right {
    display: none;
  }
  .quote {
    width: 75%;
  }
  .quote p {
    margin: 10px 0;
  }
  .social-media-icons {
    text-align: right;
    margin-top: 12px;
  }
  .photo {
    text-align: left;
  }
  .columns2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  footer {
    display: none;
  }
}
